/*
  Name: Myles Krisik
  Date: May, 01 2021
  Section: CSE 154 Section AM, TA: Fadel Shtiui
*/
body {
  background-color: #873e23;
}

#games section {
  display: flex;
  flex-direction: column;
  margin: 20px;
  background-color: rgb(57, 92, 68);
  width: 40%;
  height: auto;
}

.game h2 {
  margin-left: 10px;
}

.game h2, .game p {
  color: bisque;
}

.game p {
  margin: 10px 10px 10px 16px;
  word-break: break-word;
}

.game img {
  align-self: center;
  margin-bottom: 0px;
}

.game a {
  margin: 0 0 11px 7px;
}

#games {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}