/*
  Name: Myles Krisik
  Date: April 06, 2021
  Section: CSE 154 Section AM, TA: Fadel Shtiui

  This is the style sheet for the website as a whole. It is used to give give both pages
  a sense of cohesion, as they have similar elements of style.
*/

body {
  background-color: #24323d;
  font-family: 'Merriweather', serif;
  margin-left: 30px;
  margin-right: auto;
  width: 80%;
  color: aliceblue;
}

p {
  font-size: 19px;
  line-height: 35px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 23px;
}

h2, h3 {
  color: rgb(75, 151, 126);
}

li {
  font-size: 15px;
  line-height: 30px;
}

ul {
  list-style: square;
}

img {
  width: 75%;
  max-width: 1000px;
  height: auto;
}

blockquote p {
  color: rgb(137, 201, 10);
}

a:link {
  color: teal;
}

a:visited {
  color: #669933;
}

.citationcaption {
  font-size: 14px;
  margin-top: 0px;
}

.pagelinks {
  display: inline-block;
  margin-right: 20px;
  padding: 0px;
}

.linkparent {
  margin: 0px;
  padding: 0px;
}

.linkparent li {
  min-width: 130px;
  line-height: 30px;
  font-size: 20px;
  background-color: aliceblue;
  padding: 0 20px 0 20px;
  margin: 0px 5px 5px 0px;
}

.hidden {
  display: none;
}