/*
  Name: Myles Krisik
  Date: April 06, 2021
  Section: CSE 154 Section AM, TA: Fadel Shtiui

  This is the style sheet for the albums.html page of the website. This style sheet
  includes formats for the album art, their descriptions and facts about them.
*/

body {
  background-color: #1c2413d8;
  top: auto;
}

h1 {
  font-size: 40px;
  margin-bottom: 0;
  left: 0%;
}

h2 {
  font-size: 30px;
  left: 320px;
  color: rgb(219, 219, 219);
}

ul {
  top: 30px;
}

li {
  font-size: 22px;
  line-height: 45px;
  min-width: 220px;
}

section {
  display: flex;
  flex-direction: row;
}

article {
  margin-bottom: 70px;
}

a:visited {
  color: #91b1da;
}

.album {
  width: auto;
  height: 400px;
  margin-right: 80px;
}

.description {
  font-size: 17px;
  line-height: 26px;
  margin-right: 50%;
}

.album, .description, .albumname, ul, .citationcaption {
  position: relative;
}

.albumname {
  left: 10%;
}

.album, .description, ul, .citationcaption {
  left: 5%;
}

.citationcaption {
  max-width: 500px;
  line-height: 24px;
}

#small {
  font-size: 13px;
}

#albumentry {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  flex-wrap: wrap;
}

#albumentry label {
  margin-right: 12px;
  line-height: 33px;
  justify-self: center;
}

#albumentry input, #albumdescription {
  background-color: beige;
  border: rgb(107, 106, 106) solid 4px;
  width: 40%;
  padding: 5px;
}

#albumdescription {
  width: 60%;
  height: 200px;
}

#albumentry input, #albumdescription, #albumentry, #submit {
  margin: 10px 0 10px 10px;
}

#submit {
  width: 150px;
  background-color: rgb(228, 50, 50);
}